:root {
  --color-one: hsl(42, 93%, 95%);
  --color-two: hsl(20, 68%, 85%);
  --color-three: hsl(43, 79%, 85%);
  --primary: hsl(224, 100%, 17%);
  --secondary: 	hsl(224, 63%, 25%);
  --white: hsl(60, 100%, 100%);
  --republican: hsl(0, 100%, 50%);
  --democrat: hsl(240, 100%, 50%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
